body{
  margin: 6%;
}

button {
  background-color: #008CBA;
  /* cor de fundo */
  border: none;
  /* sem borda */
  color: white;
  /* cor do texto */
  padding: 14px 14px 12px 18px;
  /* espaçamento interno */
  text-align: center;
  /* alinhamento do texto */
  text-decoration: none;
  /* sem sublinhado */
  display: inline-block;
  /* exibição inline */
  font-size: 12px;
  /* tamanho da fonte */
  margin: 4px 2px;
  /* margem */
  cursor: pointer;
  /* cursor */
  border-radius: 8px;
  /* borda arredondada */
  transition-duration: 0.4s;
  /* duração da transição */

}

button:hover {
  background-color: #0b4255;
  /* cor de fundo ao passar o mouse */
  color: white;
  /* cor do texto ao passar o mouse */
}

#button-to {
  font-size: 12px;
  padding: 10px 12px 8px 14px;
  background-color: #1a1a1ae0;


}

.material-icons {
  text-align: center;
  margin-right: 5px;
  /* espaço entre o ícone e o texto */
}

label {
  font-size: 22px;
  /* tamanho da fonte */
  color: #333;
  /* cor do texto */
  display: inline-block;
  /* exibir em linha */
  margin-bottom: 10px;
  /* margem inferior */
  margin-top: 10px;
   /* margem superior */
}

select {
  font-size: 20px;
  /* tamanho da fonte */
  padding: 6px;
  /* espaçamento interno */
  border: 1px solid #ccc;
  /* borda */
  border-radius: 4px;
  /* borda arredondada */
  background-color: #fff;
  /* cor de fundo */
  color: #333;
  /* cor do texto */
  width: auto;
  /* largura */
}

select:focus {
  outline: none;
  /* remover contorno ao focar */
  border-color: #f1c40f;
  /* cor da borda ao focar */
  box-shadow: 0 0 5px #f1c40f;
  /* sombra ao focar */
}

.ilustracao {
  padding: 10px;
}