
#lista-conteudo {
  list-style: none;
  margin: 0;
  padding: 0;
}

#lista-conteudo li {
  margin: 10px 0;
}

#lista-conteudo a {
  border-radius: 10px;
  display: block;
  padding: 10px;
  border: 1px solid #10234d;
  background-color: #ffffff;
  text-decoration: none;
  color: #10234d;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

#lista-conteudo a:hover {
  color: #46aae4;
  border: 1px solid #71b3df;
 
}